<!DOCTYPE html>
<html lang="en">
    <head>

        @await Html.PartialAsync("Partial/MetaPartial")

        @await Html.PartialAsync("Partial/LinksPartial")
  
    </head>

    <body>
        @await Html.PartialAsync("Partial/ScriptPartial")

        <div class="container-fluid position-relative d-flex p-0">

            @await Html.PartialAsync("Partial/SpinnerPartial")

            @await Html.PartialAsync("Partial/SidebarPartial")

            <!-- Content Start -->
            <div class="content">

                @await Html.PartialAsync("Partial/Content/NavBarPartial")

                @RenderBody()

                @await Html.PartialAsync("Partial/PartialModalWindow") 

                @await Html.PartialAsync("Partial/Content/FooterPartial")
                   
            </div>
            <!-- Content End -->

            @await Html.PartialAsync("Partial/BackToTopPartial")

        </div>

        

    </body>

</html>